@{
    ViewData["Title"] = "Home Page";
}

<div class="habilidades" id="Habilidades">
    <h2>Mi skill</h2>
    @for (int x = 0; x < 10; x++)
    {
    <li>
        <h2>HTML</h2>
        <div class="Barra"><div class="html"></div></div>
    </li>
        }
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>